{% extends 'layout.html' %}
{% block content %}
  <h1>ToDoDelete</h1>
  <div class="card">
    <div class="card-body">
      <h1 class="card-title">{{ todo.name }}</h1>
      <p class="card-text">{{ todo.content }}</p>
    </div>
  </div>
  <h4 class="text-danger">{{ object.name }}を削除しますか？</h4>
  <form action='' method='post'>{% csrf_token %}
    <button type='submit' class='btn btn-outline-danger'>削除</button>
    <a href='JavaScript:history.back()' class='btn btn-outline-secondary'>戻る</a>
  </form>
{% endblock %}
